.result{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: table;
}
.resultDisabled{
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  display: none;
  overflow: hidden;
}

/* 下方白色渐变遮罩层 */
.mask {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, rgba(215, 225, 230, .7), rgba(90, 100, 135, .9) 45%, transparent);
}
.mask-shining {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: drop-shadow(0 0px 10px #fff);
  pointer-events: none;
  --box-background-color: #d8d8d8;
  --text-highlight-color: #fccf73;
}
.mask-shining-subBlock {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, .05) calc(100% - 100px), transparent);
  opacity: 0;
  animation: shining-block linear infinite;
}
@keyframes shining-block {
  0% {opacity: 0;transform: scaleX(1);}
  50% {opacity: 1;transform: scaleX(1);}
  65% {opacity: 0;transform: scaleX(.5);}
  100% {opacity: 0;transform: scaleX(1);}
}

/* 斗转星移的背景效果 */
.star-bgEffect {
  animation: star-bgEffect-frame 720s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  filter: drop-shadow(0 0px 10px #fff);
  pointer-events: none;
}
@keyframes star-bgEffect-frame {
  0% {transform: translate(-50%, -50%) rotate(0);}
  100% {transform: translate(-50%, -50%) rotate(360deg);}
}
.stars {
  left: 66%;
  top: 6%;
  transform: scale(0.498107);
  animation-delay: 2.39472s;
  animation-duration: 4s;
  position: absolute;
  width: 0.51%;
  height: 0.51%;
  border-radius: 50%;
  background-color: #ffcf70;
  opacity: 0;
  animation: stars-frame linear infinite alternate;
}
@keyframes stars-frame {
  0% {opacity: 0;}
  50% {opacity: .7;}
  100% {opacity: 0;}
}
.triangle-bgEffect {
  animation: triangle-bgEffect-frame 360s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  filter: drop-shadow(0 0px 10px #fff);
  pointer-events: none;
}
@keyframes triangle-bgEffect-frame {
  0% {transform: translate(-50%, -50%) rotate(0);}
  100% {transform: translate(-50%, -50%) rotate(360deg);}
}
.triangle {
  left: 39%;
  top: 71%;
  transform: scale(1.1) rotate(21deg);
  position: absolute;
}

/* 左上角图标栏 */
.srheader {
  position: absolute;
  left: 2vw;
  top: 2vh;
  width: 98vw;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; 
  margin-bottom: .55rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  unicode-bidi: isolate;
}
.srtitle {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  display: block;
  unicode-bidi: isolate;
}
.wishingIcon {
  display: block;
  float: left;
  margin-right: .4rem;
  width: 1.2rem;
  height: 1.2rem;
  background-position: 88.6477462437% 78.7234042553%;
  background-image: url('../res/objects.png');
  background-repeat: no-repeat;
  background-size: 21.1666666667rem 20rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  font-style: normal;
  color: gray;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.srtitleP1 {
  font-size: .5rem;
  line-height: .5rem;
  color: #efda99;
  margin-bottom: .1rem;
  width: 20vw;
}
.srtitleP2 {
  font-size: .6rem;
  line-height: .6rem;
  color: #fff;
  width: 20vw;
}

/* 返回按钮 */
@media screen and (height < calc(100vw * 0.5625)) {/* 若高度不够则高度占满 */
  .srreturn {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .srreturnBtn{
    right: calc(( 100vw - ( 100vh / 0.5625 ) ) + 1vw);
  }
} 
@media screen and (height >= calc(100vw * 0.5625)) {/* 否则占满宽度 */
  .srreturn {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .srreturnBtn{
    right: 2vw;
  }
} 
.srreturnBtn{
  position: absolute;
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background-position: 99.6694214876% 5.8771929825%;
  background-image: url('../res/objects.png');
  background-repeat: no-repeat;
  background-size: 21.1666666667rem 20rem;
  z-index: 9;
}

/* 中间结果展示 */
.p-showing{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 5rem;
  /* 字体背景动画 */
    background: -webkit-linear-gradient(135deg,#0eaf6d,#ff6ac6 25%,#147b96 50%,#e6d205 55%,#2cc4e0 60%,#8b2ce0 80%,#ff6384 95%,#08dfb4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-size: 200% 100%;
    background-size: 200% 100%;
    -webkit-animation: p-resultShowing-frames 24s infinite linear;
    animation: p-resultShowing-frames 24s infinite linear;
}
@keyframes p-resultShowing-frames {
  0% {background-position: 0 0;}
  50% {background-position: -400% 0;}
  100% {background-position: 0 0;}
}
.p-hiding{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color:#000;
  white-space: nowrap;
    outline: #fff solid 3rem;
    -webkit-animation: p-resultHiding-frames 1s 1 linear;
    animation: p-resultHiding-frames 1s 1 linear;
}
@keyframes p-resultHiding-frames {
  0% {font-size: 7.5rem;letter-spacing: 1em;transform: translateZ(300px);filter: blur(12px);opacity: 0;-webkit-text-stroke: #ece7e7e8 .6rem;}
  100% {font-size: 5rem;transform: translateZ(12px);filter: blur(0);opacity: 1;-webkit-text-stroke: #ece7e7e8 .1rem;}
}

/* 星级展示 */
.starLevel {
  position: absolute;
  top: 62%;
  left: 35%;
  height: 5%;
  border: hidden transparent;
}
.starLevel-end {
  position: absolute;
  top: 62%;
  left: 27%;
  height: 5%;
  border: hidden transparent;
  opacity: 0.9;
}
.starLevel-frame {
  position: absolute;
  top: 62%;
  height: 5%;
  border: hidden transparent;
    animation: starLevel-div-comgingIn-frame 2s 1 linear;
}
@keyframes starLevel-div-comgingIn-frame {
  0% {left: 35%;opacity: 0;}
  30% {left: 32%;opacity: 0.9;}
  80% {left: 30%;opacity: 0.9;}
  87% {left: 28%;opacity: 0.9;}
  90% {left: 27%;opacity: 0.9;}
  95% {left: 27.4%;opacity: 0.9;}
  100% {left: 27%;opacity: 0.9;}
}
.starLevel-img {
  height: 100%;
}

/* 标签展示 */
.label {
  position: absolute;
  top: 35%;
  left: 70%;
  height: 5%;
  border: hidden transparent;
  opacity: 0;
}
.label-end {
  position: absolute;
  top: 35%;
  left: 60%;
  height: 5%;
  border: hidden transparent;
  opacity: 0.8;
}
.label-frame {
  position: absolute;
  top: 35%;
  height: 5%;
  border: hidden transparent;
    animation: label-comgingIn-frame 2s 1 linear;
}
@keyframes label-comgingIn-frame {
  0% {left: 70%;opacity:0;}
  30% {left: 68.5%;opacity:0.8;}
  80% {left: 65.5%;opacity:0.8;}
  87% {left: 63.5%;opacity:0.8;}
  90% {left: 61.4%;opacity:0.8;}
  95% {left: 60.5%;opacity:0.8;}
  100% {left: 60%;opacity:0.8;}
}